<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8" />
    <title>AutoDijelovi</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.4">
    <meta name="description" content="Katalog novih auto dijelova">
    <meta name="author" content="Marko Filipović & Andrija Kranjec">
	
    <!-- Le styles -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/static/assets/ico/favicon.png">
  </head>
	
  <body>
		<!-- Le navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url "index" %}"><strong>AutoDijelovi</strong></a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              {% if user.is_authenticated %}
              <li><a href="part/bulk_upload">Dodaj masovno artikle</a></li>
              <li class="divider-vertical"></li>
               <li><a href="{% url "logout" %}">Ja sam {{ user.username.title }}, odlogiraj me</a></li>
                  {% else %}
                  <li><a href="{% url "register" %}">Registriraj se</a></li>
                  <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Prijavi se <strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                  <form class="form-signin" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <input class="input-block-level" placeholder="Korisničko ime" type="text" id="username" name="username">
                    <input class="input-block-level" placeholder="Lozinka" type="password" id="password" name="password">
                    <label class="checkbox"><input value="remember-me" type="checkbox"> Zapamti me</label>
                    <button class="btn btn-primary" type="submit" value="{% url 'index' %}">Prijava</button>
                    {% endif %}
                    <!-- <input type="hidden" name="text" value=""/> -->

                  </form>
                </div>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

		<!-- Le kategorije -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {{ message }}
              <li class="nav-header">Kategorije</li>
              {% for category in list_category%}
              <li><a href="category/{{ category.id }}">{{ category.name }}</a></li>
              {% endfor %}
<!--               <li><a href="#">Kategorija II</a></li>
              <li><a href="#">Kategorija III</a></li>
              <li><a href="#">Kategorija IV</a></li>
              <li><a href="#">Kategorija V</a></li>
              <li><a href="#">Kategorija VI</a></li>
							<li><a href="#">Kategorija VII</a></li>
							<li><a href="#">Kategorija VIII</a></li>
							<li><a href="#">Kategorija IX</a></li>
							<li><a href="#">Kategorija X</a></li> -->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
				
				
				<!-- Izdvojeni proizvodi -->
        <div class="span9">
          <div class="hero-unit">
						<div class="row-fluid">
              {% for part in part_by_date %}
							<div class="span3">
                {% if part.image %}
								<a href="part/{{ part.id }}"><img class="thumbnail" data-src="holder.js/64x64" src="{{ part.image.url }}"></a>
								{% else %}
                <a href="part/{{ part.id }}"><img class="thumbnail" data-src="holder.js/64x64" src="/static/assets/img/example-parts/freemason.gif"></a>
                {% endif %}
                <h4>{{ part.name }}</h4>
								<p><a href="part/{{ part.id }}" class="btn btn-large btn-primary disabled">{{ part.price }}</a></p>
								<p><a class="btn" href="part/{{ part.id }}">Više &raquo;</a></p>
							</div><!--/span-->
              {% endfor %}
							<!-- <div class="span3">
								<a href="#"><img class="thumbnail" data-src="holder.js/64x64" src="/static/assets/img/example-parts/key.png"></a>
								<h4>Zamjenski ključ</h4>
								<p><a href="#" class="btn btn-large btn-primary disabled">359,99 kn</a></p>
								<p><a class="btn" href="#">Više &raquo;</a></p>
							</div><!--/span- ->
							<div class="span3">
								<a href="#"><img class="thumbnail" data-src="holder.js/64x64" src="/static/assets/img/example-parts/clip.png"></a>
								<h4>Zamjenski klip</h4>
								<p><a href="#" class="btn btn-large btn-primary disabled">359,99 kn</a></p>
								<p><a class="btn" href="#">Više &raquo;</a></p>
							</div><!--/span- ->
							<div class="span3">
								<a href="#"><img class="thumbnail" data-src="holder.js/64x64" src="/static/assets/img/example-parts/flare.png"></a>
								<h4>Svjećice</h4>
								<p><a href="#" class="btn btn-large btn-primary disabled">359,99 kn</a></p>
								<p><a class="btn" href="#">Više &raquo;</a></p>
							</div><!--/span- -> -->
						</div>
          </div>
				</div>
				
				<!-- La pretraga -->
				<div class="span9 pull-right">
					<form class="form-inline pagination-centered" method="POST" action="/dijelovi/">{% csrf_token %}
						<input class="input-xxlarge" type="text" name="inquiry" placeholder="Započni pretragu..."/> 				
						<button class="btn btn-primary btn-large" type="submit">&nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;</button>
					</form>
				</div>
					
				<!-- Rezultati pretrage -->
        {% if parts == '' %}
        <strong>{{ inquiry_text }}</strong>
        {% elif parts == '0' %}
        <strong>{{ inquiry_text }}</strong>
        {% else %}
        <strong>{{ inquiry_text }}</strong>
        <div class="span9 pull-right">
          <div class="hero-unit">
						<div class="row-fluid">
  		        {% for part in parts %}
              <div class="media">
								<a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64/industrial"></a>
                <p><a href="part/{{ part.id }}" class="btn btn-large btn-primary disabled pull-right">{{ part.price }}</a></p>
								<div class="media-body">
									<h4 class="media-heading">{{ part.name }}</h4>
									<p>{% if part.part_category %} Kat: {{ part.part_category }}{% else %} Broj artikala: {{ part.part_set.count }} {% endif %}</p>
								</div>
							</div>
							{% endfor %}
              <!-- <div class="media">
								<a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64/industrial"></a>
								<p><a href="#" class="btn btn-large btn-primary disabled pull-right">359,99 kn</a></p>
								<div class="media-body">
									<h4 class="media-heading">Rezultat pretrage 1</h4>
									<p>Cincilator dimenzija xx yy. Za Ferari iz 1999 godine.</p>
								</div>
							</div>
							<div class="media">
								<a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64/industrial"></a>
								<p><a href="#" class="btn btn-large btn-primary disabled pull-right">359,99 kn</a></p>
								<div class="media-body">
									<h4 class="media-heading">Rezultat pretrage 2</h4>
									<p>Cincilator dimenzija xx yy. Za Ferari iz 1999 godine.</p>
								</div>
							</div>
							<div class="media">
								<a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64/industrial"></a>
								<p><a href="#" class="btn btn-large btn-primary disabled pull-right">359,99 kn</a></p>
								<div class="media-body">
									<h4 class="media-heading">Rezultat pretrage 3</h4>
									<p>Cincilator dimenzija xx yy. Za Ferari iz 1999 godine.</p>
								</div>
							</div>			 -->				
						</div>
          </div>
        </div><!--/span-->
      </div><!--/row-->
			{% endif %}
      <hr>

    </div><!--/.fluid-container-->
      <footer>
        <p>&copy; Marko Filipović & Andrija Kranjec | Složeni Aplikacijski Programi @TVZ 2013</p>
      </footer>
 
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/assets/js/bootstrap-transition.js"></script>
    <script src="/static/assets/js/bootstrap-alert.js"></script>
    <script src="/static/assets/js/bootstrap-modal.js"></script>
    <script src="/static/assets/js/bootstrap-dropdown.js"></script>
    <script src="/static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/static/assets/js/bootstrap-tab.js"></script>
    <script src="/static/assets/js/bootstrap-tooltip.js"></script>
    <script src="/static/assets/js/bootstrap-popover.js"></script>
    <script src="/static/assets/js/bootstrap-button.js"></script>
    <script src="/static/assets/js/bootstrap-collapse.js"></script>
    <script src="/static/assets/js/bootstrap-carousel.js"></script>
    <script src="/static/assets/js/bootstrap-typeahead.js"></script>
		<script src="/static/assets/js/holder/holder.js"></script>

  </body>
</html>
