<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>AutoDijelovi</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.4">
    <meta name="description" content="Katalog novih auto dijelova">
    <meta name="author" content="Marko Filipović & Andrija Kranjec">
	
    <!-- Le styles -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/static/assets/ico/favicon.png">
  </head>
	
  <body>
		<!-- Le navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url "index" %}"><strong>AutoDijelovi</strong></a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><a href="#signUp">Registriraj se</a></li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Prijavi se <strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                  <form class="form-signin">
                    <input class="input-block-level" placeholder="Korisničko ime" type="text">
                    <input class="input-block-level" placeholder="Lozinka" type="password">
                    <label class="checkbox"><input value="remember-me" type="checkbox"> Zapamti me</label>
                    <button class="btn btn-primary" type="submit">Prijava</button>
                  </form>
                </div>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

		<!-- Le navigacija -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
							<li class="nav-header">Navigacija</li>
              <li><a href="#">Povratak</a></li>
              <li><a href="#">Početna</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
				
				<!-- Le upload cjenika -->
        <div class="span9 pull-right">
          <div class="hero-unit">
            <form name="uploadNewPartsForm" enctype="multipart/form-data" method="POST" action="">
  {% csrf_token %}
    <tr><th><label for="id_file">Izaberi XLS datoteku:</label></th>
      <td><input id="id_file" name="file" type="file" /></td></tr>
    <input type="submit" title="Klikni za upload cjenika"/>
  </form>
          </div>
        </div><!--/span-->				

					
				<!-- Rezultati pretrage -->
        <div class="span9 pull-right">
          <div class="hero-unit">
						<div class="row-fluid">
              {% if status == 'failed' %}
							<span class="label label-important">Neuspješno</span>
              {% elif status == 'not_xls' %}
              <span class="label label-wrong-input">Krivi format datoteke</span>
              {% elif status == 'success' %}
              <span class="label label-success">Uspješno</span>	
              {% else %}
              <span class="label label-nothing">Idle</span>			
							{% endif %}
						</div>
          </div>
        </div><!--/span-->
      </div><!--/row-->
			
      <hr>

      <footer>
        <p>&copy; Marko Filipović & Andrija Kranjec | Složeni Aplikacijski Programi @TVZ 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/assets/js/bootstrap-transition.js"></script>
    <script src="/static/assets/js/bootstrap-alert.js"></script>
    <script src="/static/assets/js/bootstrap-modal.js"></script>
    <script src="/static/assets/js/bootstrap-dropdown.js"></script>
    <script src="/static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/static/assets/js/bootstrap-tab.js"></script>
    <script src="/static/assets/js/bootstrap-tooltip.js"></script>
    <script src="/static/assets/js/bootstrap-popover.js"></script>
    <script src="/static/assets/js/bootstrap-button.js"></script>
    <script src="/static/assets/js/bootstrap-collapse.js"></script>
    <script src="/static/assets/js/bootstrap-carousel.js"></script>
    <script src="/static/assets/js/bootstrap-typeahead.js"></script>
		<script src="/static/assets/js/holder/holder.js"></script>
		
		<script src="../assets/js/bootstrap.file-input.js"></script>
		
  </body>
</html>
